.about-child {
  position: absolute;
  top: calc(50% - 2936.5px);
  left: calc(50% - 650px);
  background-color: var(--color-mintcream-200);
  width: 1287px;
  height: 5490px;
}
.frame-child6 {
  top: 23px;
  left: 0;
  height: 432px;
  object-fit: cover;
  cursor: pointer;
}
.frame-child6,
.frame-child7,
.frame-div {
  position: absolute;
  width: 1200px;
}
.frame-child7 {
  top: 23px;
  left: 1334px;
  height: 432px;
  object-fit: cover;
  cursor: pointer;
}
.frame-div {
  top: calc(50% - 2726.5px);
  left: calc(50% - 613px);
  background-color: var(--white);
  height: 480px;
  overflow-x: auto;
}
.baisiyoutech-co-ltd {
  position: absolute;
  top: calc(50% - 2208.5px);
  left: calc(50% - 596px);
  font-size: 32px;
  line-height: 32px;
  text-align: justify;
  display: inline-block;
  width: 1136px;
}
.about-item,
.rectangle42 {
  position: absolute;
  top: calc(50% - 2010.5px);
}
.about-item {
  left: calc(50% - 613px);
  width: 580px;
  height: 564px;
  object-fit: cover;
}
.rectangle42 {
  left: calc(50% + 39px);
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen);
  width: 548px;
  height: 1298px;
}
.our-story {
  position: absolute;
  top: calc(50% - 1984.5px);
  left: calc(50% + 180px);
  font-size: var(--font-size-41xl);
  letter-spacing: 0.6px;
  line-height: 60px;
  font-family: var(--font-roboto);
  color: var(--color-mintcream-100);
  text-align: left;
  display: inline-block;
  width: 333px;
}
.in-our-quest {
  margin: 0;
}
.in-our-quest-container {
  position: absolute;
  top: calc(50% - 1886.5px);
  left: calc(50% + 127px);
  font-size: var(--font-size-6xl);
  line-height: 32px;
  color: var(--color-mintcream-100);
  text-align: justify;
  display: inline-block;
  width: 383px;
}
.about-inner {
  position: absolute;
  top: calc(50% - 1413.5px);
  left: calc(50% - 613px);
  width: 596px;
  height: 695.5px;
  object-fit: cover;
}
.frame-child8 {
  position: absolute;
  top: calc(50% - 198.5px);
  left: calc(50% - 592.5px);
  background-color: var(--color-yellowgreen);
  width: 1185px;
  height: 397px;
}
.another-obstacle-to {
  position: absolute;
  top: calc(50% - 139.5px);
  left: calc(50% - 557.5px);
  letter-spacing: 0.95px;
  line-height: 36px;
  display: inline-block;
  width: 1115px;
  height: 323px;
}
.rectangle-parent1 {
  position: absolute;
  top: calc(50% - 679.5px);
  left: calc(50% - 599px);
  width: 1185px;
  height: 397px;
  text-align: justify;
  font-size: var(--font-size-21xl);
  color: var(--white);
  font-family: var(--font-roboto);
}
.rectangle43 {
  position: absolute;
  top: calc(50% - 244.5px);
  left: calc(50% + 38px);
  border-radius: var(--br-xl);
  background-color: #001006;
  width: 548px;
  height: 1438px;
}
.our-team,
.with-a-team-container {
  position: absolute;
  color: var(--color-mintcream-100);
  display: inline-block;
}
.with-a-team-container {
  top: calc(50% - 62.5px);
  left: calc(50% + 129px);
  font-size: var(--font-size-6xl);
  line-height: 32px;
  text-align: justify;
  width: 374px;
  height: 1123px;
}
.our-team {
  top: calc(50% - 163.5px);
  left: calc(50% + 152px);
  font-size: var(--font-size-41xl);
  letter-spacing: 0.6px;
  line-height: 60px;
  font-family: var(--font-roboto);
  text-align: left;
  width: 333px;
}
.about-child1,
.about-child2 {
  position: absolute;
  top: calc(50% - 212.5px);
  left: calc(50% - 596px);
  width: 603px;
  height: 655px;
  object-fit: cover;
}
.about-child2 {
  top: calc(50% + 481.5px);
  left: calc(50% - 599px);
  width: 597px;
  height: 700px;
}
.our-values,
.they-serve-as {
  position: absolute;
  display: inline-block;
}
.our-values {
  top: calc(50% + 1263.5px);
  left: calc(50% - 289px);
  font-size: var(--font-size-41xl);
  letter-spacing: 0.6px;
  line-height: 60px;
  font-family: var(--font-roboto);
  width: 370px;
}
.they-serve-as {
  top: calc(50% + 1356.5px);
  left: calc(50% - 467px);
  font-size: var(--font-size-6xl);
  line-height: 32px;
  width: 899px;
}
.image1 {
  position: absolute;
  top: calc(50% + 1502.5px);
  left: calc(50% - 626px);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  width: 352px;
  height: 268px;
}
.image2,
.rectangle44 {
  position: absolute;
  top: calc(50% + 1590.5px);
  left: calc(50% - 578px);
  width: 256px;
  height: 70px;
}
.image2 {
  top: calc(50% + 1502.5px);
  left: calc(50% - 234px);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  width: 352px;
  height: 268px;
}
.image3,
.rectangle45 {
  position: absolute;
  top: calc(50% + 1608.5px);
  left: calc(50% - 116px);
  width: 117px;
  height: 35px;
}
.image3 {
  top: calc(50% + 1502.5px);
  left: calc(50% + 158px);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  width: 352px;
  height: 268px;
}
.image4,
.rectangle46 {
  position: absolute;
  top: calc(50% + 1608.5px);
  left: calc(50% + 227px);
  width: 214px;
  height: 35px;
}
.image4 {
  top: calc(50% + 1810.5px);
  left: calc(50% - 430px);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  width: 352px;
  height: 268px;
}
.image5,
.rectangle47 {
  position: absolute;
  top: calc(50% + 1916.5px);
  left: calc(50% - 343px);
  width: 179px;
  height: 35px;
}
.image5 {
  top: calc(50% + 1810.5px);
  left: calc(50% - 38px);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  width: 352px;
  height: 268px;
}
.rectangle48 {
  position: absolute;
  top: calc(50% + 1976.5px);
  left: calc(50% + 10px);
  width: 256px;
  height: 54px;
}
.member-centric {
  top: calc(50% + 1590.5px);
  left: calc(50% - 537px);
  line-height: 35px;
  font-family: var(--font-roboto);
  width: 142px;
}
.helpful,
.member-centric,
.we-care-deeply {
  position: absolute;
  display: inline-block;
}
.we-care-deeply {
  top: calc(50% + 1669.5px);
  left: calc(50% - 558px);
  font-size: var(--font-size-lg);
  line-height: 27px;
  width: 216px;
}
.helpful {
  top: calc(50% + 1608.5px);
  left: calc(50% - 116px);
  line-height: 35px;
  font-family: var(--font-roboto);
  width: 117px;
}
.being-helpful-is {
  top: calc(50% + 1652.5px);
  left: calc(50% - 167px);
  font-size: var(--font-size-lg);
  line-height: 27px;
  width: 218px;
}
.being-helpful-is,
.transparent,
.we-are-open {
  position: absolute;
  display: inline-block;
}
.transparent {
  top: calc(50% + 1608.5px);
  left: calc(50% + 227px);
  line-height: 35px;
  font-family: var(--font-roboto);
  width: 214px;
}
.we-are-open {
  top: calc(50% + 1652.5px);
  left: calc(50% + 229px);
  font-size: var(--font-size-lg);
  line-height: 27px;
  width: 210px;
}
.persistent {
  top: calc(50% + 1916.5px);
  left: calc(50% - 343px);
  line-height: 35px;
  font-family: var(--font-roboto);
  width: 179px;
}
.better-together,
.persistent,
.we-dont-give {
  position: absolute;
  display: inline-block;
}
.we-dont-give {
  top: calc(50% + 1960.5px);
  left: calc(50% - 374px);
  font-size: var(--font-size-lg);
  line-height: 27px;
  width: 240px;
}
.better-together {
  top: calc(50% + 1898.5px);
  left: calc(50% + 63px);
  line-height: 35px;
  font-family: var(--font-roboto);
  width: 150px;
}
.opportunity-exists-for {
  position: absolute;
  top: calc(50% + 1977.5px);
  left: calc(50% + 30px);
  font-size: var(--font-size-lg);
  line-height: 27px;
  display: inline-block;
  width: 184px;
}
.about-child3 {
  position: absolute;
  top: calc(50% + 2103.5px);
  left: calc(50% - 637px);
  background-color: var(--color-dodgerblue);
  width: 1274px;
  height: 384px;
}
.footer-ui-child4 {
  position: absolute;
  height: 0.58%;
  width: 98.44%;
  top: 0;
  right: 1.56%;
  bottom: 99.42%;
  left: 0;
  background-color: var(--white);
  opacity: 0.3;
}
.about-us7,
.disclaimer3,
.privacy-policy3 {
  position: absolute;
  top: 94.75%;
  text-transform: uppercase;
}
.about-us7 {
  left: 0;
  cursor: pointer;
}
.disclaimer3,
.privacy-policy3 {
  left: 29.15%;
}
.disclaimer3 {
  left: 42.25%;
}
.contact-us6 {
  left: 10.17%;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-us6,
.copyright-20183,
.help3 {
  position: absolute;
  top: 94.75%;
}
.help3 {
  left: 21.63%;
  text-transform: uppercase;
}
.copyright-20183 {
  left: 80.93%;
  white-space: pre-wrap;
  opacity: 0.8;
  mix-blend-mode: normal;
}
.googleplus-black1-icon3,
.instagram-black1-icon3,
.linkedin-black1-icon3,
.youtube-color1-icon3 {
  position: absolute;
  height: 100%;
  width: 5.22%;
  top: 0;
  right: 41.74%;
  bottom: 0;
  left: 53.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.googleplus-black1-icon3,
.instagram-black1-icon3,
.linkedin-black1-icon3 {
  right: 31.3%;
  left: 63.48%;
}
.googleplus-black1-icon3,
.linkedin-black1-icon3 {
  right: 20.87%;
  left: 73.91%;
}
.linkedin-black1-icon3 {
  right: 52.17%;
  left: 42.61%;
}
.group-icon,
.rectangle49,
.twitter-icon3 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.group-icon {
  width: 78.26%;
  left: 21.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle49,
.twitter-icon3 {
  width: 100%;
  left: 0;
}
.twitter-icon3 {
  height: 62.5%;
  width: 75%;
  top: 20.83%;
  right: 12.5%;
  bottom: 16.67%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitter-black13 {
  position: absolute;
  height: 100%;
  width: 5.22%;
  top: 0;
  right: 62.61%;
  bottom: 0;
  left: 32.17%;
}
.social-media3 {
  position: absolute;
  top: 12.5%;
  left: 0;
  opacity: 0.7;
  mix-blend-mode: normal;
}
.social3 {
  position: absolute;
  height: 18.75%;
  width: 100%;
  top: 81.25%;
  right: 0;
  bottom: 0;
  left: 0;
}
.faulconer-drive3 {
  position: absolute;
  top: calc(50% - 9px);
  left: 11.3%;
}
.location3,
.round-place-24px-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.round-place-24px-icon3 {
  height: 100%;
  width: 6.78%;
  right: 93.22%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.location3 {
  height: 18.75%;
  width: 76.96%;
  right: 23.04%;
  bottom: 81.25%;
}
.div9 {
  position: absolute;
  top: calc(50% - 9px);
  left: 32.52%;
}
.round-phone-24px-icon3 {
  position: absolute;
  height: 100%;
  width: 19.51%;
  top: 0;
  right: 80.49%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div10,
.phone3 {
  position: absolute;
}
.phone3 {
  height: 18.75%;
  width: 26.74%;
  top: 31.25%;
  right: 73.26%;
  bottom: 50%;
  left: 0;
  overflow: hidden;
}
.div10 {
  top: calc(50% - 9px);
  left: 32%;
}
.round-local-printshop-24px-icon3 {
  position: absolute;
  height: 100%;
  width: 19.2%;
  top: 0;
  right: 80.8%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fax3 {
  position: absolute;
  height: 18.75%;
  width: 27.17%;
  top: 31.25%;
  right: 19.78%;
  bottom: 50%;
  left: 53.04%;
  overflow: hidden;
}
.information3 {
  position: absolute;
  height: 37.32%;
  width: 42.16%;
  top: 26.82%;
  right: 8.52%;
  bottom: 35.86%;
  left: 49.31%;
}
.footer-ui-child5 {
  position: absolute;
  height: 0.29%;
  width: 98.44%;
  top: 87.46%;
  right: 1.56%;
  bottom: 12.24%;
  left: 0;
  background-color: var(--white);
  opacity: 0.2;
  mix-blend-mode: normal;
}
.logo-lift-icon3 {
  position: absolute;
  height: 27.08%;
  width: 14.26%;
  top: 32.07%;
  right: 81.15%;
  bottom: 40.85%;
  left: 4.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-ui3 {
  position: absolute;
  top: calc(50% + 2086.5px);
  left: calc(50% - 545px);
  width: 1091px;
  height: 343px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--white);
  font-family: var(--font-assistant);
}
.image-1-icon3 {
  position: absolute;
  height: 58.04%;
  width: 7.41%;
  top: 0;
  right: 92.59%;
  bottom: 41.96%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.baisiyou-ink3 {
  position: absolute;
  height: 62.24%;
  width: 28.8%;
  top: 13.99%;
  left: 0.86%;
  font-size: var(--font-size-17xl);
  font-family: var(--font-rochester);
  display: inline-block;
}
.home4 {
  height: 21.68%;
  width: 10.36%;
  top: 73.43%;
  left: -2.38%;
  display: inline-block;
}
.about-us8,
.home4,
.paste3 {
  position: absolute;
  line-height: 33px;
}
.about-us8 {
  top: 72.03%;
  left: 9.13%;
  cursor: pointer;
}
.paste3 {
  width: 11.41%;
  top: 73.43%;
  left: 19.39%;
  display: inline-block;
}
.ink4,
.pen4,
.refills3 {
  display: inline-block;
  cursor: pointer;
}
.ink4 {
  position: absolute;
  height: 27.27%;
  width: 12.74%;
  top: 73.43%;
  left: 29.09%;
  line-height: 33px;
}
.pen4,
.refills3 {
  height: 21.4%;
}
.refills3 {
  position: absolute;
  width: 7.22%;
  top: 73.43%;
  left: 42.68%;
  line-height: 33px;
}
.pen4 {
  width: 5.32%;
  top: 72.03%;
  left: 52.95%;
}
.cart3,
.contact-us7,
.div11,
.en3,
.pen4 {
  position: absolute;
  line-height: 33px;
}
.contact-us7 {
  height: 21.68%;
  width: 15.59%;
  top: 73.43%;
  left: 59.98%;
  white-space: pre-wrap;
  display: inline-block;
  cursor: pointer;
}
.cart3,
.div11,
.en3 {
  top: 11.89%;
}
.cart3 {
  height: 26.08%;
  width: 7.41%;
  left: 91.44%;
  display: inline-block;
}
.div11,
.en3 {
  left: 75.57%;
}
.div11 {
  left: 82.03%;
}
.shopping-cart-icon2 {
  position: absolute;
  height: 16.78%;
  width: 2.28%;
  top: 13.99%;
  right: 0;
  bottom: 69.23%;
  left: 97.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.comment3,
.fr3,
.product3 {
  position: absolute;
  top: 71.33%;
  left: 78.14%;
  line-height: 33px;
}
.comment3,
.fr3 {
  top: 11.19%;
  left: 87.45%;
}
.comment3 {
  top: 71.33%;
  left: 90.21%;
}
.component-53 {
  position: absolute;
  top: calc(50% - 2907.5px);
  left: calc(50% - 596px);
  width: 1052px;
  height: 143px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-ribeye);
}
.about {
  width: 100%;
  position: relative;
  height: 5989px;
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-dm-sans);
}
