.frame-child,
.frame-inner,
.frame-item,
.rectangle-icon {
  width: 1200px;
  position: relative;
  height: 577px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-inner,
.frame-item,
.rectangle-icon {
  width: 1012px;
  height: 495px;
  cursor: pointer;
}
.frame-inner,
.rectangle-icon {
  width: 1128px;
}
.rectangle-icon {
  width: 1200px;
}
.rectangle-parent {
  position: absolute;
  top: calc(50% - 2117px);
  left: calc(50% - 606.5px);
  width: 1200px;
  height: 495px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 70px;
}
.thermochromic-microcapsule-ink {
  position: absolute;
  top: calc(50% - 1622px);
  left: calc(50% - 460.5px);
  font-size: var(--font-size-5xl);
  line-height: 72px;
  text-transform: uppercase;
  color: var(--color-slateblue-200);
  display: inline-block;
  width: 946px;
}
.thermosensitive-ink-is {
  margin: 0;
}
.thermosensitive-ink-is-container {
  position: absolute;
  top: calc(50% - 137.5px);
  left: calc(50% - 210.5px);
  line-height: 25px;
  display: inline-block;
  width: 421px;
  height: 275px;
}
.thermosensitive-ink-is-the-mos-wrapper {
  position: absolute;
  top: calc(50% - 1540px);
  left: calc(50% - 572.5px);
  width: 421px;
  height: 275px;
  text-align: justify;
  font-family: var(--font-arial);
}
.home-child,
.home-item {
  position: absolute;
  top: calc(50% - 1540px);
  left: calc(50% - 135.5px);
  width: 762px;
  height: 258px;
  object-fit: cover;
}
.home-item {
  top: calc(50% - 1255px);
  left: calc(50% - 554.5px);
  width: 255px;
  height: 160px;
}
.home-child1,
.home-child2,
.home-inner {
  position: absolute;
  top: calc(50% - 1253px);
  left: calc(50% - 264.5px);
  width: 225px;
  height: 158px;
  object-fit: cover;
}
.home-child1,
.home-child2 {
  left: calc(50% + 27.5px);
  width: 252px;
  height: 153px;
}
.home-child2 {
  top: calc(50% - 1262px);
  left: calc(50% + 318.5px);
  width: 255px;
  height: 162px;
}
.attractive-erasable-pen {
  position: absolute;
  top: calc(50% - 1060px);
  left: calc(50% - 179.5px);
  font-size: var(--font-size-21xl);
  line-height: 36px;
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-slateblue-200);
}
.home-child3,
.home-child4 {
  position: absolute;
  top: calc(50% - 997px);
  left: calc(50% - 572.5px);
  width: 592px;
  height: 440px;
  object-fit: cover;
}
.home-child4 {
  top: calc(50% - 995px);
  left: calc(50% + 23.5px);
  width: 589px;
}
.rectangle,
.rectangle1 {
  position: absolute;
  top: calc(50% - 555px);
  left: calc(50% - 572.5px);
  background-color: var(--color-darkgray);
  width: 591px;
  height: 37px;
}
.rectangle1 {
  top: calc(50% - 557px);
  left: calc(50% + 22.5px);
}
.span {
  color: #00217b;
}
.c {
  font-size: var(--font-size-xl);
}
.available-temperatures-container,
.cautions-we-advise,
.product-features {
  position: absolute;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
  color: var(--color-slateblue-200);
  text-align: left;
  display: inline-block;
}
.available-temperatures-container {
  top: calc(50% - 498px);
  left: calc(50% - 552.5px);
  line-height: 27px;
  width: 358px;
}
.cautions-we-advise,
.product-2-features {
  left: calc(50% - 555.5px);
}
.cautions-we-advise {
  top: calc(50% - 451px);
  letter-spacing: 0.2px;
  line-height: 26px;
  width: 1158px;
}
.product-features {
  top: calc(50% - 365px);
  line-height: 27px;
  width: 197px;
}
.rectangle2 {
  position: absolute;
  top: calc(50% - 311px);
  left: calc(50% - 599.5px);
  background-color: #444;
  width: 1200px;
  height: 2px;
}
.rectangle3,
.rectangle4,
.rectangle5 {
  position: absolute;
  top: calc(50% - 173.3px);
  left: calc(50% - 578.5px);
  background-color: var(--color-lightsteelblue);
  width: 240px;
  height: 1px;
}
.rectangle4,
.rectangle5 {
  left: calc(50% - 338.5px);
  width: 960px;
}
.rectangle5 {
  top: calc(50% - 33px);
  left: calc(50% - 577.5px);
  width: 1217px;
}
.erasable-properties,
.thermosensitive-ink-is1 {
  position: absolute;
  top: calc(50% - 252px);
  left: calc(50% - 583.5px);
  font-size: var(--font-size-5xl);
  line-height: 33px;
  font-family: var(--font-roboto);
  color: var(--color-slateblue-200);
  display: inline-block;
  width: 227px;
}
.thermosensitive-ink-is1 {
  top: calc(50% - 250px);
  left: calc(50% - 298.5px);
  line-height: 26px;
  text-align: left;
  width: 880px;
}
.temperature-reactivity {
  top: calc(50% - 127px);
  left: calc(50% - 586.5px);
  line-height: 33px;
  width: 256px;
}
.given-its-sensitivity,
.temperature-reactivity,
.temperature-sensitivity,
.this-ink-undergoes {
  position: absolute;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
  color: var(--color-slateblue-200);
  display: inline-block;
}
.this-ink-undergoes {
  top: calc(50% - 140px);
  left: calc(50% - 308.5px);
  line-height: 26px;
  text-align: left;
  width: 885px;
}
.given-its-sensitivity,
.temperature-sensitivity {
  top: calc(50% + 1px);
  left: calc(50% - 583.5px);
  line-height: 33px;
  width: 269px;
}
.given-its-sensitivity {
  top: calc(50% - 1px);
  left: calc(50% - 308.5px);
  line-height: 26px;
  text-align: left;
  width: 891px;
}
.home-child5 {
  position: absolute;
  top: calc(50% + 96px);
  left: calc(50% - 572.5px);
  width: 557px;
  height: 392px;
  object-fit: cover;
}
.the-reversible-thermochromic {
  position: absolute;
  top: calc(50% + 112px);
  left: calc(50% + 18.5px);
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-slateblue-200);
  text-align: justify;
  display: inline-block;
  width: 544px;
  height: 345px;
}
.magic-erasable-ink {
  position: absolute;
  top: calc(50% + 549px);
  left: calc(50% - 170.5px);
  font-size: 48px;
  line-height: 36px;
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-slateblue-100);
  text-align: left;
}
.home-child6,
.home-child7 {
  position: absolute;
  top: calc(50% + 636px);
  left: calc(50% - 572.5px);
  width: 557px;
  height: 498px;
  object-fit: cover;
}
.home-child7 {
  top: calc(50% + 617px);
  left: calc(50% - 15.5px);
  width: 617px;
  height: 500px;
}
.our-micro-encapsulated-thermos,
.thermosensitive-micro-encapsul {
  position: absolute;
  font-family: var(--font-roboto);
  text-align: justify;
}
.our-micro-encapsulated-thermos {
  top: calc(50% + 1269px);
  left: calc(50% - 556.5px);
  font-size: var(--font-size-5xl);
  line-height: 36px;
  display: inline-block;
  font-weight: 300;
  color: var(--color-slateblue-200);
  width: 623px;
  height: 468px;
}
.thermosensitive-micro-encapsul {
  top: calc(50% + 1185px);
  left: calc(50% - 560.5px);
  font-size: var(--font-size-17xl);
  letter-spacing: 0.2px;
  line-height: 49.5px;
  color: var(--color-slateblue-100);
}
.home-child8 {
  position: absolute;
  top: calc(50% + 1176px);
  left: calc(50% + 85.5px);
  width: 544px;
  height: 598px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: calc(50% + 1819px);
  left: calc(50% - 593.5px);
  background-color: var(--color-dodgerblue);
  width: 1195px;
  height: 477px;
}
.footer-ui-child {
  position: absolute;
  height: 0.58%;
  width: 98.44%;
  top: 0;
  right: 1.56%;
  bottom: 99.42%;
  left: 0;
  background-color: var(--white);
  opacity: 0.3;
}
.about-us,
.disclaimer,
.privacy-policy {
  position: absolute;
  top: 94.75%;
  text-transform: uppercase;
}
.about-us {
  left: 0;
  cursor: pointer;
}
.disclaimer,
.privacy-policy {
  left: 29.15%;
}
.disclaimer {
  left: 42.25%;
}
.contact-us {
  left: 10.17%;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-us,
.copyright-2018,
.help {
  position: absolute;
  top: 94.75%;
}
.help {
  left: 21.63%;
  text-transform: uppercase;
}
.copyright-2018 {
  left: 80.93%;
  white-space: pre-wrap;
  opacity: 0.8;
  mix-blend-mode: normal;
}
.googleplus-black1-icon,
.instagram-black1-icon,
.linkedin-black1-icon,
.youtube-color1-icon {
  position: absolute;
  height: 100%;
  width: 5.22%;
  top: 0;
  right: 41.74%;
  bottom: 0;
  left: 53.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.googleplus-black1-icon,
.instagram-black1-icon,
.linkedin-black1-icon {
  right: 31.3%;
  left: 63.48%;
}
.googleplus-black1-icon,
.linkedin-black1-icon {
  right: 20.87%;
  left: 73.91%;
}
.linkedin-black1-icon {
  right: 52.17%;
  left: 42.61%;
}
.rectangle6,
.social-child,
.twitter-icon {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.social-child {
  width: 78.26%;
  left: 21.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle6,
.twitter-icon {
  width: 100%;
  left: 0;
}
.twitter-icon {
  height: 62.5%;
  width: 75%;
  top: 20.83%;
  right: 12.5%;
  bottom: 16.67%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitter-black1 {
  position: absolute;
  height: 100%;
  width: 5.22%;
  top: 0;
  right: 62.61%;
  bottom: 0;
  left: 32.17%;
}
.social,
.social-media {
  position: absolute;
  left: 0;
}
.social-media {
  top: 12.5%;
  opacity: 0.7;
  mix-blend-mode: normal;
}
.social {
  height: 18.75%;
  width: 100%;
  top: 81.25%;
  right: 0;
  bottom: 0;
}
.faulconer-drive {
  position: absolute;
  top: calc(50% - 9px);
  left: 11.3%;
}
.round-place-24px-icon {
  position: absolute;
  height: 100%;
  width: 6.78%;
  top: 0;
  right: 93.22%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div,
.location {
  position: absolute;
}
.location {
  height: 18.75%;
  width: 76.96%;
  top: 0;
  right: 23.04%;
  bottom: 81.25%;
  left: 0;
  overflow: hidden;
}
.div {
  top: calc(50% - 9px);
  left: 32.52%;
}
.round-phone-24px-icon {
  position: absolute;
  height: 100%;
  width: 19.51%;
  top: 0;
  right: 80.49%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div1,
.phone {
  position: absolute;
}
.phone {
  height: 18.75%;
  width: 26.74%;
  top: 31.25%;
  right: 73.26%;
  bottom: 50%;
  left: 0;
  overflow: hidden;
}
.div1 {
  top: calc(50% - 9px);
  left: 32%;
}
.round-local-printshop-24px-icon {
  position: absolute;
  height: 100%;
  width: 19.2%;
  top: 0;
  right: 80.8%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fax {
  position: absolute;
  height: 18.75%;
  width: 27.17%;
  top: 31.25%;
  right: 19.78%;
  bottom: 50%;
  left: 53.04%;
  overflow: hidden;
}
.footer-ui-item,
.information {
  position: absolute;
  height: 37.32%;
  width: 42.16%;
  top: 26.82%;
  right: 8.52%;
  bottom: 35.86%;
  left: 49.31%;
}
.footer-ui-item {
  height: 0.29%;
  width: 98.44%;
  top: 87.46%;
  right: 1.56%;
  bottom: 12.24%;
  left: 0;
  background-color: var(--white);
  opacity: 0.2;
  mix-blend-mode: normal;
}
.logo-lift-icon {
  position: absolute;
  height: 27.08%;
  width: 14.26%;
  top: 32.07%;
  right: 81.15%;
  bottom: 40.85%;
  left: 4.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-ui {
  position: absolute;
  top: calc(50% + 1868px);
  left: calc(50% - 536.5px);
  width: 1091px;
  height: 343px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--white);
  font-family: var(--font-assistant);
}
.component-4,
.image-1-icon {
  position: absolute;
  top: calc(50% - 2285px);
  left: calc(50% - 572.5px);
  width: 1099px;
  height: 141px;
}
.image-1-icon {
  left: calc(50% - 517.5px);
  width: 78px;
  height: 83px;
  object-fit: cover;
}
.baisiyou-ink {
  position: absolute;
  top: calc(50% - 2265px);
  left: calc(50% - 508.5px);
  font-size: var(--font-size-17xl);
  font-family: var(--font-rochester);
  display: inline-block;
  width: 303px;
  height: 89px;
}
.cart,
.div2,
.en {
  position: absolute;
  top: calc(50% - 2255px);
  line-height: 33px;
}
.cart {
  left: calc(50% + 431.5px);
  display: inline-block;
  width: 78px;
  height: 37.3px;
}
.div2,
.en {
  left: calc(50% + 232.5px);
}
.div2 {
  left: calc(50% + 304.5px);
}
.vector-icon {
  position: absolute;
  top: calc(50% - 2251px);
  left: calc(50% + 498.5px);
  width: 22px;
  height: 15px;
}
.fr {
  position: absolute;
  top: calc(50% - 2255px);
  left: calc(50% + 355.5px);
  line-height: 33px;
}
.home1 {
  top: calc(50% - 2181px);
  left: calc(50% - 545.5px);
  display: inline-block;
  width: 109px;
  height: 31px;
}
.about-us1,
.home1,
.paste {
  position: absolute;
  line-height: 33px;
}
.about-us1 {
  top: calc(50% - 2183px);
  left: calc(50% - 424.5px);
  cursor: pointer;
}
.paste {
  top: calc(50% - 2181px);
  left: calc(50% - 316.5px);
  display: inline-block;
  width: 120px;
}
.ink,
.pen,
.refills {
  display: inline-block;
  cursor: pointer;
}
.ink {
  position: absolute;
  top: calc(50% - 2181px);
  left: calc(50% - 214.5px);
  line-height: 33px;
  width: 134px;
  height: 39px;
}
.pen,
.refills {
  height: 30.6px;
}
.refills {
  position: absolute;
  top: calc(50% - 2181px);
  left: calc(50% - 71.5px);
  line-height: 33px;
  width: 76px;
}
.pen {
  top: calc(50% - 2183px);
  left: calc(50% + 36.5px);
  width: 56px;
}
.comment,
.contact-us1,
.pen,
.product-2 {
  position: absolute;
  
  line-height: 33px;
}
.contact-us1 {
  top: calc(50% - 2181px);
  left: calc(50% + 110.5px);
  white-space: pre-wrap;
  display: inline-block;
  width: 164px;
  height: 31px;
  cursor: pointer;
}
.comment,
.product-2 {
  top: calc(50% - 2184px);
  left: calc(50% + 301.5px);
}

.comment {
  left: calc(50% + 428.5px);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-mintcream-200);
  height: 4592px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-ribeye);
}
