.ink-child {
  position: absolute;
  top: calc(50% - 1490.5px);
  left: calc(50% - 597px);
  background-color: var(--color-mintcream-200);
  width: 1194px;
  height: 3056px;
}
.the-unique-thermo-sensitive {
  position: absolute;
  top: calc(50% - 804.5px);
  left: calc(50% - 504px);
  font-size: 30px;
  color: var(--color-deepskyblue);
  text-align: justify;
  display: inline-block;
  width: 997px;
}
.image-2-icon,
.image-3-icon,
.image-4-icon {
  position: absolute;
  top: calc(50% - 633.5px);
  left: calc(50% - 480px);
  width: 309px;
  height: 232px;
  object-fit: cover;
}
.image-3-icon,
.image-4-icon {
  top: calc(50% - 638.5px);
  left: calc(50% - 129px);
  width: 292px;
  height: 237px;
}
.image-4-icon {
  left: calc(50% + 237px);
  width: 295px;
  height: 231px;
}
.we-also-dont {
  margin: 0;
}
.thermosensitive-ink-is-container1 {
  top: calc(50% - 341.5px);
  left: calc(50% - 496px);
  font-size: var(--font-size-lg);
  line-height: 26px;
  width: 332px;
  height: 424px;
}
.thermal-erasable-ink,
.thermosensitive-ink-is-container1,
.thermosensitive-ink-is-container2 {
  position: absolute;
  color: var(--color-black);
  text-align: justify;
  display: inline-block;
}
.thermosensitive-ink-is-container2 {
  top: calc(50% - 341.5px);
  left: calc(50% - 118px);
  font-size: var(--font-size-lg);
  line-height: 26px;
  width: 332px;
  height: 424px;
}
.thermal-erasable-ink {
  top: calc(50% - 333.5px);
  left: calc(50% + 257px);
  font-size: var(--font-size-xl);
  line-height: 22.4px;
  width: 294px;
}
.optional-ink-colors {
  position: absolute;
  top: calc(50% + 123.5px);
  left: calc(50% - 235px);
  font-size: var(--font-size-5xl);
  color: var(--color-slateblue-200);
  display: inline-block;
  width: 301px;
}
.rectangle-icon1 {
  position: absolute;
  top: calc(50% + 170.5px);
  left: calc(50% - 236px);
  width: 302px;
  height: 3px;
}
.image-5-icon,
.image-6-icon {
  position: absolute;
  top: calc(50% + 266.5px);
  left: calc(50% - 460px);
  width: 110px;
  height: 117px;
  object-fit: cover;
}
.image-6-icon {
  top: calc(50% + 276.5px);
  left: calc(50% - 244px);
  width: 103px;
  height: 107px;
}
.image-10-icon,
.image-11-icon,
.image-7-icon,
.image-8-icon,
.image-9-icon {
  position: absolute;
  top: calc(50% + 273.5px);
  left: calc(50% - 35px);
  width: 104px;
  height: 110px;
  object-fit: cover;
}
.image-10-icon,
.image-11-icon,
.image-8-icon,
.image-9-icon {
  left: calc(50% + 163px);
  width: 107px;
  height: 109px;
}
.image-10-icon,
.image-11-icon,
.image-9-icon {
  left: calc(50% + 384px);
  width: 102px;
  height: 110px;
}
.image-10-icon,
.image-11-icon {
  top: calc(50% + 488.5px);
  left: calc(50% - 460px);
  width: 105px;
  height: 117px;
}
.image-11-icon {
  top: calc(50% + 471.5px);
  left: calc(50% - 257px);
  width: 116px;
  height: 110px;
}
.image-12-icon,
.image-13-icon,
.image-14-icon {
  position: absolute;
  top: calc(50% + 469.5px);
  left: calc(50% - 53px);
  width: 115px;
  height: 112px;
  object-fit: cover;
}
.image-13-icon,
.image-14-icon {
  top: calc(50% + 456.5px);
  left: calc(50% + 150px);
  width: 111px;
}
.image-14-icon {
  left: calc(50% + 370px);
  width: 104px;
  height: 111px;
}
.ink-item {
  position: absolute;
  top: calc(50% + 1097.5px);
  left: calc(50% - 597px);
  background-color: var(--color-dodgerblue);
  width: 1194px;
  height: 362px;
}
.footer-ui-child2 {
  position: absolute;
  height: 0.58%;
  width: 98.44%;
  top: 0;
  right: 1.56%;
  bottom: 99.42%;
  left: 0;
  background-color: var(--white);
  opacity: 0.3;
}
.about-us5,
.disclaimer2,
.privacy-policy2 {
  position: absolute;
  top: 94.75%;
  text-transform: uppercase;
}
.about-us5 {
  left: 0;
  cursor: pointer;
}
.disclaimer2,
.privacy-policy2 {
  left: 29.15%;
}
.disclaimer2 {
  left: 42.25%;
}
.contact-us4 {
  left: 10.17%;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-us4,
.copyright-20182,
.help2 {
  position: absolute;
  top: 94.75%;
}
.help2 {
  left: 21.63%;
  text-transform: uppercase;
}
.copyright-20182 {
  left: 80.93%;
  white-space: pre-wrap;
  opacity: 0.8;
  mix-blend-mode: normal;
}
.googleplus-black1-icon2,
.instagram-black1-icon2,
.linkedin-black1-icon2,
.youtube-color1-icon2 {
  position: absolute;
  height: 100%;
  width: 5.22%;
  top: 0;
  right: 41.74%;
  bottom: 0;
  left: 53.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.googleplus-black1-icon2,
.instagram-black1-icon2,
.linkedin-black1-icon2 {
  right: 31.3%;
  left: 63.48%;
}
.googleplus-black1-icon2,
.linkedin-black1-icon2 {
  right: 20.87%;
  left: 73.91%;
}
.linkedin-black1-icon2 {
  right: 52.17%;
  left: 42.61%;
}
.rectangle15,
.social-inner,
.twitter-icon2 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.social-inner {
  width: 78.26%;
  left: 21.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle15,
.twitter-icon2 {
  width: 100%;
  left: 0;
}
.twitter-icon2 {
  height: 62.5%;
  width: 75%;
  top: 20.83%;
  right: 12.5%;
  bottom: 16.67%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitter-black12 {
  position: absolute;
  height: 100%;
  width: 5.22%;
  top: 0;
  right: 62.61%;
  bottom: 0;
  left: 32.17%;
}
.social-media2 {
  position: absolute;
  top: 12.5%;
  left: 0;
  opacity: 0.7;
  mix-blend-mode: normal;
}
.social2 {
  position: absolute;
  height: 18.75%;
  width: 100%;
  top: 81.25%;
  right: 0;
  bottom: 0;
  left: 0;
}
.faulconer-drive2 {
  position: absolute;
  top: calc(50% - 9px);
  left: 11.3%;
}
.location2,
.round-place-24px-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.round-place-24px-icon2 {
  height: 100%;
  width: 6.78%;
  right: 93.22%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.location2 {
  height: 18.75%;
  width: 76.96%;
  right: 23.04%;
  bottom: 81.25%;
}
.div6 {
  position: absolute;
  top: calc(50% - 9px);
  left: 32.52%;
}
.round-phone-24px-icon2 {
  position: absolute;
  height: 100%;
  width: 19.51%;
  top: 0;
  right: 80.49%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div7,
.phone2 {
  position: absolute;
}
.phone2 {
  height: 18.75%;
  width: 26.74%;
  top: 31.25%;
  right: 73.26%;
  bottom: 50%;
  left: 0;
  overflow: hidden;
}
.div7 {
  top: calc(50% - 9px);
  left: 32%;
}
.round-local-printshop-24px-icon2 {
  position: absolute;
  height: 100%;
  width: 19.2%;
  top: 0;
  right: 80.8%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fax2 {
  position: absolute;
  height: 18.75%;
  width: 27.17%;
  top: 31.25%;
  right: 19.78%;
  bottom: 50%;
  left: 53.04%;
  overflow: hidden;
}
.information2 {
  position: absolute;
  height: 37.32%;
  width: 42.16%;
  top: 26.82%;
  right: 8.52%;
  bottom: 35.86%;
  left: 49.31%;
}
.footer-ui-child3 {
  position: absolute;
  height: 0.29%;
  width: 98.44%;
  top: 87.46%;
  right: 1.56%;
  bottom: 12.24%;
  left: 0;
  background-color: var(--white);
  opacity: 0.2;
  mix-blend-mode: normal;
}
.logo-lift-icon2 {
  position: absolute;
  height: 27.08%;
  width: 14.26%;
  top: 32.07%;
  right: 81.15%;
  bottom: 40.85%;
  left: 4.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-ui2 {
  position: absolute;
  top: calc(50% + 1080.5px);
  left: calc(50% - 545px);
  width: 1091px;
  height: 343px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--white);
  font-family: var(--font-assistant);
}
.professional-services {
  position: absolute;
  top: calc(50% + 646.5px);
  left: calc(50% - 488px);
  font-size: 27px;
  color: var(--color-deepskyblue);
  text-align: left;
  display: inline-block;
  width: 261px;
}
.image {
  position: absolute;
  top: calc(50% + 131.5px);
  left: calc(50% - 639px);
  width: 1200px;
  height: 917px;
}
.rectangle18,
.rectangle19 {
  position: absolute;
  top: calc(50% + 733.5px);
  left: calc(50% - 448px);
  width: 266px;
  height: 115px;
}
.rectangle18 {
  filter: drop-shadow(0 0 13px rgba(0, 0, 0, 0.1));
}
.rectangle19 {
  background-color: #d6f0f9;
}
.rectangle20,
.rectangle21 {
  position: absolute;
  left: calc(50% - 428px);
  width: 219px;
}
.rectangle20 {
  top: calc(50% + 821.1px);
  background-color: var(--color-yellowgreen);
  height: 3px;
}
.rectangle21 {
  top: calc(50% + 824.5px);
  height: 5px;
}
.rectangle22,
.rectangle23 {
  position: absolute;
  top: calc(50% + 873.5px);
  left: calc(50% - 448px);
  width: 266px;
  height: 115px;
}
.rectangle22 {
  filter: drop-shadow(0 0 13px rgba(0, 0, 0, 0.1));
}
.rectangle23 {
  background-color: #f0f2d5;
}
.rectangle24,
.rectangle25 {
  position: absolute;
  left: calc(50% - 428px);
  width: 219px;
}
.rectangle24 {
  top: calc(50% + 961.1px);
  background-color: var(--color-yellowgreen);
  height: 3px;
}
.rectangle25 {
  top: calc(50% + 964.5px);
  height: 5px;
}
.rectangle26,
.rectangle27 {
  position: absolute;
  top: calc(50% + 733.5px);
  left: calc(50% - 157px);
  width: 266px;
  height: 115px;
}
.rectangle26 {
  filter: drop-shadow(0 0 13px rgba(0, 0, 0, 0.1));
}
.rectangle27 {
  background-color: #f7e3e3;
}
.rectangle28,
.rectangle29 {
  position: absolute;
  left: calc(50% - 137px);
  width: 219px;
}
.rectangle28 {
  top: calc(50% + 821.1px);
  background-color: var(--color-yellowgreen);
  height: 3px;
}
.rectangle29 {
  top: calc(50% + 824.5px);
  height: 5px;
}
.rectangle30,
.rectangle31 {
  position: absolute;
  top: calc(50% + 873.5px);
  left: calc(50% - 157px);
  width: 266px;
  height: 115px;
}
.rectangle30 {
  filter: drop-shadow(0 0 13px rgba(0, 0, 0, 0.1));
}
.rectangle31 {
  background-color: var(--color-lightgoldenrodyellow);
}
.rectangle32,
.rectangle33 {
  position: absolute;
  left: calc(50% - 137px);
  width: 219px;
}
.rectangle32 {
  top: calc(50% + 961.1px);
  background-color: var(--color-yellowgreen);
  height: 3px;
}
.rectangle33 {
  top: calc(50% + 964.5px);
  height: 5px;
}
.rectangle34,
.rectangle35 {
  position: absolute;
  top: calc(50% + 733.5px);
  left: calc(50% + 134px);
  width: 266px;
  height: 115px;
}
.rectangle34 {
  filter: drop-shadow(0 0 13px rgba(0, 0, 0, 0.1));
}
.rectangle35 {
  background-color: #d5daff;
}
.rectangle36,
.rectangle37 {
  position: absolute;
  left: calc(50% + 154px);
  width: 219px;
}
.rectangle36 {
  top: calc(50% + 821.1px);
  background-color: var(--color-yellowgreen);
  height: 3px;
}
.rectangle37 {
  top: calc(50% + 824.5px);
  height: 5px;
}
.rectangle38,
.rectangle39 {
  position: absolute;
  top: calc(50% + 873.5px);
  left: calc(50% + 134px);
  width: 266px;
  height: 115px;
}
.rectangle38 {
  filter: drop-shadow(0 0 13px rgba(0, 0, 0, 0.1));
}
.rectangle39 {
  background-color: #f2dffb;
}
.rectangle40,
.rectangle41 {
  position: absolute;
  left: calc(50% + 154px);
  width: 219px;
}
.rectangle40 {
  top: calc(50% + 961.1px);
  background-color: var(--color-yellowgreen);
  height: 3px;
}
.rectangle41 {
  top: calc(50% + 964.5px);
  height: 5px;
}
.ink-kitchen-development,
.inkfluid-optimization {
  position: absolute;
  top: calc(50% + 749.5px);
  left: calc(50% - 391px);
  display: inline-block;
  width: 134px;
}
.inkfluid-optimization {
  top: calc(50% + 884.5px);
  left: calc(50% - 396px);
  width: 129px;
}
.inkfluid-characterization,
.inkfluid-development {
  position: absolute;
  top: calc(50% + 749.5px);
  left: calc(50% - 96px);
  display: inline-block;
  width: 134px;
}
.inkfluid-characterization {
  top: calc(50% + 879.5px);
  left: calc(50% - 117px);
  width: 168px;
}
.component-suitability-testing,
.inkfluid-stabilization {
  position: absolute;
  top: calc(50% + 744.5px);
  left: calc(50% + 199px);
  display: inline-block;
  width: 133px;
}
.component-suitability-testing {
  top: calc(50% + 893.5px);
  left: calc(50% + 154px);
  width: 178px;
}
.image-1-icon2 {
  position: absolute;
  height: 58.04%;
  width: 7.41%;
  top: 0;
  right: 92.59%;
  bottom: 41.96%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.baisiyou-ink2 {
  position: absolute;
  height: 62.24%;
  width: 28.8%;
  top: 13.99%;
  left: 0.86%;
  font-size: var(--font-size-17xl);
  font-family: var(--font-rochester);
  display: inline-block;
}
.home3 {
  height: 21.68%;
  width: 10.36%;
  top: 73.43%;
  left: -2.38%;
  display: inline-block;
}
.about-us6,
.home3,
.ink3,
.paste2 {
  position: absolute;
  line-height: 33px;
}
.about-us6 {
  top: 72.03%;
  left: 9.13%;
  cursor: pointer;
}
.ink3,
.paste2 {
  width: 11.41%;
  top: 73.43%;
  left: 19.39%;
  display: inline-block;
}
.ink3 {
  height: 27.27%;
  width: 12.74%;
  left: 29.09%;
}
.pen3,
.refills2 {
  height: 21.4%;
  display: inline-block;
  cursor: pointer;
}
.refills2 {
  position: absolute;
  width: 7.22%;
  top: 73.43%;
  left: 42.68%;
  line-height: 33px;
}
.pen3 {
  width: 5.32%;
  top: 72.03%;
  left: 52.95%;
}
.cart2,
.contact-us5,
.div8,
.en2,
.pen3 {
  position: absolute;
  line-height: 33px;
}
.contact-us5 {
  height: 21.68%;
  width: 15.59%;
  top: 73.43%;
  left: 59.98%;
  white-space: pre-wrap;
  display: inline-block;
  cursor: pointer;
}
.cart2,
.div8,
.en2 {
  top: 11.89%;
}
.cart2 {
  height: 26.08%;
  width: 7.41%;
  left: 91.44%;
  display: inline-block;
}
.div8,
.en2 {
  left: 75.57%;
}
.div8 {
  left: 82.03%;
}
.shopping-cart-icon1 {
  position: absolute;
  height: 16.78%;
  width: 2.28%;
  top: 13.99%;
  right: 0;
  bottom: 69.23%;
  left: 97.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.comment2,
.fr2,
.product2 {
  position: absolute;
  top: 71.33%;
  left: 78.14%;
  line-height: 33px;
}
.comment2,
.fr2 {
  top: 11.19%;
  left: 87.45%;
}
.comment2 {
  top: 71.33%;
  left: 90.21%;
}
.component-51 {
  position: absolute;
  top: calc(50% - 1478.5px);
  left: calc(50% - 531px);
  width: 1052px;
  height: 143px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-ribeye);
}
.frame-child3,
.frame-child4 {
  width: 1169px;
  position: relative;
  height: 463px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child4 {
  cursor: pointer;
}
.rectangle-container {
  position: absolute;
  top: calc(50% - 1316.5px);
  left: calc(50% - 573px);
  width: 1169px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 91px;
}
.ink2 {
  width: 100%;
  position: relative;
  height: 2981px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-roboto);
}
