.frame-child9,
.paste-child {
  left: calc(50% - 603px);
  width: 1206px;
}
.paste-child {
  position: absolute;
  top: calc(50% - 1692px);
  background-color: var(--color-mintcream-200);
  height: 3566px;
}
.frame-child9 {
  top: calc(50% - 409.5px);
  height: 813px;
  cursor: pointer;
}
.frame-child10,
.frame-child9,
.image-1-icon4 {
  position: absolute;
  object-fit: cover;
}
.frame-child10 {
  top: 33px;
  left: 1365px;
  width: 1206px;
  height: 813px;
  cursor: pointer;
}
.image-1-icon4 {
  top: calc(50% - 350.5px);
  left: calc(50% + 337px);
  width: 78px;
  height: 83px;
}
.rectangle-parent2 {
  position: absolute;
  top: 290px;
  left: calc(50% - 605px);
  background-color: var(--white);
  width: 1206px;
  height: 885px;
  overflow-x: auto;
}
.rectangle50,
.rectangle51,
.rectangle52,
.rectangle53,
.rectangle54 {
  position: absolute;
  top: calc(50% - 441px);
  left: calc(50% - 547px);
  background-color: var(--color-lightgray);
  width: 211px;
  height: 1px;
}
.rectangle51,
.rectangle52,
.rectangle53,
.rectangle54 {
  top: calc(50% - 401px);
}
.rectangle52,
.rectangle53,
.rectangle54 {
  top: calc(50% - 361px);
}
.rectangle53,
.rectangle54 {
  top: calc(50% - 321px);
}
.rectangle54 {
  top: calc(50% - 281.1px);
  height: 2px;
}
.rectangle55 {
  top: calc(50% - 320px);
  height: 40px;
}
.rectangle55,
.rectangle56,
.rectangle57 {
  position: absolute;
  left: calc(50% - 547px);
  width: 211px;
}
.rectangle56 {
  top: calc(50% - 240.1px);
  background-color: var(--color-lightgray);
  height: 1px;
}
.rectangle57 {
  top: calc(50% - 280.1px);
  height: 40px;
}
.category,
.health-safety,
.particle-size,
.pigment-type,
.price {
  position: absolute;
  top: calc(50% - 433px);
  left: calc(50% - 529px);
  line-height: 17.14px;
  text-transform: uppercase;
  display: inline-block;
  width: 98px;
  height: 19px;
}
.health-safety,
.particle-size,
.pigment-type,
.price {
  top: calc(50% - 390px);
  left: calc(50% - 520px);
  width: 64px;
}
.health-safety,
.particle-size,
.pigment-type {
  top: calc(50% - 349px);
  left: calc(50% - 536px);
  width: 104px;
}
.health-safety,
.particle-size {
  top: calc(50% - 311px);
  width: 126px;
}
.health-safety {
  top: calc(50% - 270.1px);
  width: 140px;
}
.paste-child1,
.paste-inner,
.paste-item {
  position: absolute;
  top: calc(50% - 454px);
  left: calc(50% - 280px);
  width: 183px;
  height: 193.9px;
  object-fit: cover;
}
.paste-child1,
.paste-inner {
  top: calc(50% - 474px);
  left: calc(50% - 9px);
  width: 253px;
  height: 300.9px;
}
.paste-child1 {
  left: calc(50% + 321px);
  width: 207px;
  height: 203.9px;
}
.paste-child2,
.paste-child3,
.paste-child4 {
  position: absolute;
  top: calc(50% - 145px);
  left: calc(50% - 292px);
  width: 242px;
  height: 242px;
  object-fit: cover;
}
.paste-child3,
.paste-child4 {
  top: calc(50% - 112px);
  left: calc(50% + 51px);
  width: 195px;
  height: 183.9px;
}
.paste-child4 {
  top: calc(50% - 107px);
  left: calc(50% + 347px);
  width: 175px;
  height: 166.9px;
}
.paste-child5 {
  position: absolute;
  top: calc(50% + 116px);
  left: calc(50% - 597px);
  background-color: var(--color-lightgoldenrodyellow);
  width: 1200px;
  height: 452.9px;
}
.the-particle-size {
  position: absolute;
  top: calc(50% + 148px);
  left: calc(50% - 547px);
  font-size: var(--font-size-17xl);
  letter-spacing: 1px;
  line-height: 40px;
  font-family: var(--font-roboto);
  color: var(--color-slateblue-200);
  text-align: justify;
  display: inline-block;
  width: 1117px;
  height: 523.8px;
}
.paste-child6 {
  position: absolute;
  top: calc(50% + 576px);
  left: calc(50% - 594px);
  width: 1211px;
  height: 492.8px;
  object-fit: cover;
}
.paste-child7,
.paste-child8,
.paste-child9 {
  position: absolute;
  top: calc(50% + 1099px);
  left: calc(50% - 599px);
  width: 425px;
  height: 323.9px;
  object-fit: cover;
}
.paste-child8,
.paste-child9 {
  left: calc(50% - 174px);
  width: 403px;
  height: 324px;
}
.paste-child9 {
  left: calc(50% + 229px);
  width: 388px;
}
.paste-child10 {
  position: absolute;
  top: calc(50% + 1435px);
  left: calc(50% - 599px);
  background-color: var(--color-dodgerblue);
  width: 1211px;
  height: 461px;
}
.footer-ui-child6 {
  position: absolute;
  height: 0.57%;
  width: 98.44%;
  top: 0;
  right: 1.56%;
  bottom: 99.43%;
  left: 0;
  background-color: var(--white);
  opacity: 0.3;
}
.about-us9,
.disclaimer4,
.privacy-policy4 {
  position: absolute;
  top: 94.75%;
  text-transform: uppercase;
}
.about-us9 {
  left: 0;
  cursor: pointer;
}
.disclaimer4,
.privacy-policy4 {
  left: 29.15%;
}
.disclaimer4 {
  left: 42.25%;
}
.contact-us8 {
  left: 10.17%;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-us8,
.copyright-20184,
.help4 {
  position: absolute;
  top: 94.75%;
}
.help4 {
  left: 21.63%;
  text-transform: uppercase;
}
.copyright-20184 {
  left: 80.93%;
  white-space: pre-wrap;
  opacity: 0.8;
  mix-blend-mode: normal;
}
.googleplus-black1-icon4,
.instagram-black1-icon4,
.linkedin-black1-icon4,
.youtube-color1-icon4 {
  position: absolute;
  height: 100%;
  width: 5.22%;
  top: 0;
  right: 41.74%;
  bottom: 0;
  left: 53.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.googleplus-black1-icon4,
.instagram-black1-icon4,
.linkedin-black1-icon4 {
  right: 31.3%;
  left: 63.48%;
}
.googleplus-black1-icon4,
.linkedin-black1-icon4 {
  right: 20.87%;
  left: 73.91%;
}
.linkedin-black1-icon4 {
  right: 52.17%;
  left: 42.61%;
}
.rectangle58,
.social-child1,
.twitter-icon4 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.social-child1 {
  width: 78.26%;
  left: 21.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle58,
.twitter-icon4 {
  width: 100%;
  left: 0;
}
.twitter-icon4 {
  height: 62.31%;
  width: 75%;
  top: 20.9%;
  right: 12.5%;
  bottom: 16.79%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitter-black14 {
  position: absolute;
  height: 100%;
  width: 5.22%;
  top: 0;
  right: 62.61%;
  bottom: 0;
  left: 32.17%;
}
.social-media4 {
  position: absolute;
  top: 12.31%;
  left: 0;
  opacity: 0.7;
  mix-blend-mode: normal;
}
.social4 {
  position: absolute;
  height: 18.75%;
  width: 100%;
  top: 81.25%;
  right: 0;
  bottom: 0;
  left: 0;
}
.faulconer-drive4 {
  position: absolute;
  top: calc(50% - 9.4px);
  left: 11.3%;
}
.location4,
.round-place-24px-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.round-place-24px-icon4 {
  height: 100%;
  width: 6.78%;
  right: 93.22%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.location4 {
  height: 18.75%;
  width: 76.96%;
  right: 23.04%;
  bottom: 81.25%;
}
.div12 {
  position: absolute;
  top: calc(50% - 9.4px);
  left: 32.52%;
}
.round-phone-24px-icon4 {
  position: absolute;
  height: 100%;
  width: 19.51%;
  top: 0;
  right: 80.49%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div13,
.phone4 {
  position: absolute;
}
.phone4 {
  height: 18.75%;
  width: 26.74%;
  top: 31.28%;
  right: 73.26%;
  bottom: 49.97%;
  left: 0;
  overflow: hidden;
}
.div13 {
  top: calc(50% - 9.4px);
  left: 32%;
}
.round-local-printshop-24px-icon4 {
  position: absolute;
  height: 100%;
  width: 19.2%;
  top: 0;
  right: 80.8%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fax4 {
  position: absolute;
  height: 18.75%;
  width: 27.17%;
  top: 31.28%;
  right: 19.78%;
  bottom: 49.97%;
  left: 53.04%;
  overflow: hidden;
}
.information4 {
  position: absolute;
  height: 37.31%;
  width: 42.16%;
  top: 26.81%;
  right: 8.52%;
  bottom: 35.87%;
  left: 49.31%;
}
.footer-ui-child7 {
  position: absolute;
  height: 0.29%;
  width: 98.44%;
  top: 87.47%;
  right: 1.56%;
  bottom: 12.25%;
  left: 0;
  background-color: var(--white);
  opacity: 0.2;
  mix-blend-mode: normal;
}
.logo-lift-icon4 {
  position: absolute;
  height: 27.08%;
  width: 14.26%;
  top: 32.06%;
  right: 81.15%;
  bottom: 40.86%;
  left: 4.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-ui4 {
  position: absolute;
  top: calc(50% + 1423px);
  left: calc(50% - 518px);
  width: 1091px;
  height: 383px;
  color: var(--white);
  font-family: var(--font-assistant);
}
.image-1-icon5 {
  position: absolute;
  height: 58.04%;
  width: 7.41%;
  top: 0;
  right: 92.59%;
  bottom: 41.96%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.baisiyou-ink4 {
  position: absolute;
  height: 62.24%;
  width: 28.8%;
  top: 13.99%;
  left: 0.86%;
  font-size: var(--font-size-17xl);
  font-family: var(--font-rochester);
  display: inline-block;
}
.home5 {
  height: 21.68%;
  width: 10.36%;
  top: 73.43%;
  left: -2.38%;
  display: inline-block;
}
.about-us10,
.home5,
.paste5 {
  position: absolute;
  line-height: 33px;
}
.about-us10 {
  top: 72.03%;
  left: 9.13%;
  cursor: pointer;
}
.paste5 {
  width: 11.41%;
  top: 73.43%;
  left: 19.39%;
  display: inline-block;
}
.ink5,
.pen5,
.refills4 {
  display: inline-block;
  cursor: pointer;
}
.ink5 {
  position: absolute;
  height: 27.27%;
  width: 12.74%;
  top: 73.43%;
  left: 29.09%;
  line-height: 33px;
}
.pen5,
.refills4 {
  height: 21.4%;
}
.refills4 {
  position: absolute;
  width: 7.22%;
  top: 73.43%;
  left: 42.68%;
  line-height: 33px;
}
.pen5 {
  width: 5.32%;
  top: 72.03%;
  left: 52.95%;
}
.cart4,
.contact-us9,
.div14,
.en4,
.pen5 {
  position: absolute;
  line-height: 33px;
}
.contact-us9 {
  height: 21.68%;
  width: 15.59%;
  top: 73.43%;
  left: 59.98%;
  white-space: pre-wrap;
  display: inline-block;
}
.cart4,
.div14,
.en4 {
  top: 11.89%;
}
.cart4 {
  height: 26.08%;
  width: 7.41%;
  left: 91.44%;
  display: inline-block;
}
.div14,
.en4 {
  left: 75.57%;
}
.div14 {
  left: 82.03%;
}
.shopping-cart-icon3 {
  position: absolute;
  height: 16.78%;
  width: 2.28%;
  top: 13.99%;
  right: 0;
  bottom: 69.23%;
  left: 97.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.comment4,
.fr4,
.product4 {
  position: absolute;
  top: 71.33%;
  left: 78.14%;
  line-height: 33px;
}
.comment4,
.fr4 {
  top: 11.19%;
  left: 87.45%;
}
.comment4 {
  top: 71.33%;
  left: 90.21%;
}
.component-54 {
  position: absolute;
  top: calc(50% - 1628px);
  left: calc(50% - 563px);
  width: 1052px;
  height: 143px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-ribeye);
}
.paste4 {
  width: 100%;
  position: relative;
  height: 3384px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
